.Container {
    width: 1600px;
}

.Nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}

.NavLinkItems {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
}

.FirstSection {
    display: flex;
    margin-left: 180px;
}

.SecondSection {
    display: flex;
    /* flex-direction: row-reverse; */
}

.cogIcon{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #55cbf3;
    color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 30px;
}

.ButtonLogin {
    padding: 12px 23px 12px 23px;
    margin-right: 30px;
    color: #55cbf3;
    letter-spacing: 0.51px;
    size: 18px;
    font-family: 'Roboto-Medium';
    background-color: #fff;
    border: 1px #55cbf3 solid;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
}

.ButtonSignUp {
    padding: 12px 23px 12px 23px;
    color: #fff;
    letter-spacing: 0.51px;
    size: 18px;
    font-family: 'Roboto-Medium';
    background-color: #55cbf3;
    border: 1px #fff solid;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
 }

 .ButtonLogin:hover {
    color: #55cbf3;
    text-decoration: none;
 }

.ButtonSignUp:hover {
    color: #fff;
    text-decoration: none;
 }

.Logo {
    height: 60px;
}

.CreateYourPodcast {
    font-family: 'Roboto-Medium';
    font-size: 24px;
    margin-left: 60px;
}

@media (min-width: 1600px) {
    .Logo {
        margin-left: none;
     }
  }

@media (max-width: 1097px) {
    .FirstSection {
        margin-left: 0px;
    }
    .CreateYourPodcast {
        display: none;
    }
}

@media (max-width: 990px) {
    .Nav {
        align-items: flex-start;
    }

    .FirstSection {
        margin-left: 0px;
    }

    .NavLinkItems{
        flex-direction: column;
    }

    .ButtonLogin {
        margin-right: 0px;
        text-align: center;
    }

    .ButtonSignUp{
        margin-top: 10px;
        text-align: center;
    }

    .SecondSection{
        flex-direction: column;
    }

    .ButtonSignUp{
        margin-top: 0px;
    }

    .cogIcon{
        width: 40px;
        height: 40px;
        font-size: 25px;
        margin-bottom: 10px;
    }
}