.ListItem {
    padding: 16px 30px;
    width: auto;
}

.NavLink {
    text-decoration: none;
    color: #373737;
    size: 20px;
}


.NavLink:hover {
    text-decoration: none;
}

.NavLinkActive {
    border-bottom: 3px solid #55cbf3;
    padding-bottom: 6px;
}

@media (max-width: 990px) {
    .ListItem {
        padding: 10px 0px;
        width: auto;
    }
}
